@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Use Next/font variables set on the HTML element */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif; /* Fallback added */
}

/* Apply Barlow to Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-barlow), sans-serif;
}